body{
    background-color:Light gray: hsl(212, 45%, 89%) 
}

.telabranca{

background-color: aliceblue;
width: 600px 600px;
margin: 200px 550px;
border-radius: 20px;
}

.imagem{
width:300px ;


}